* {
    margin: 0;
    padding: 0;
}

.main-form {
    width: 250px;
    height: 250px;
    margin: 15% auto;
}

.formos-mygtukas {
    width: 173px;
}

form input {
    margin-top: 10px;
    height: 25px;
}

form {
    text-align: center;
}